.machete-popup {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 320px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(166, 166, 166);
}

.machete-login-required, .machete-upgrade-required {
    font-size: 14pt;
    text-align: center;
    padding: 20px;
}

.machete-chart-btn {
	display: inline-block;
	text-align: right;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    padding: 1px;
}

.machete-chart-btn-disabled {
    background: linear-gradient(to bottom, rgb(231,233,236), rgb(141, 144, 150));
}

.machete-report section {
    margin-bottom: 50px;
}

.machete-report h3 {
    margin-top: 30px;
}

.machete-chart-horizontal {
    display: inline-block;
}

#machete-kwmodify {
    display: none;
}

.machete-kwmodify {
    text-align: right;
}

.machete-kwmodify > div {
    display: inline-block;
}

.machete-templates {
    display: none;
}

.machete-kwbid {
    width: 124px;
    margin-left: 2px;
    margin-right: 2px;
}

.machete-kwbid input {
    width: 60px;
    margin: 2px 4px;
}

.machete-kwstatus {
    width: 64px;
    margin-left: 2px;
    margin-right: 2px;
}

.machete-kwbid, .machete-kwstatus {
    display: inline-block;
}

.machete-kwbid .loading-small, .machete-kwstatus .loading-small {
    margin: auto;
}

.machete-kwupdate-bulk {
    display: block;
    float: right;
    position: relative;
    top: -25px;
}

#machete-bulk-all {
    display: block;
    float: right;
    position: relative;
    top: 6px;
}

.machete-kwupdate-error {
    color: red;
    font-size: 11pt;
}

.machete-warning {
    border: 1px solid #f0c14b;
    box-shadow: 1px 1px 2px rgb(166, 166, 166);
    border-radius: 2px;
    padding: 4px 8px;
    width: 75%;
    margin: 10px;
}

.machete-error {
    border: 1px solid red;
    box-shadow: 1px 1px 2px rgb(166, 166, 166);
    border-radius: 2px;
    padding: 4px 8px;
    width: 75%;
    margin: 10px;
}


.machete-kwbulk-label {
    font-weight: bold;
}

.machete-kwstatus-bulk, .machete-kwbid-bulk {
    display: inline-block;
}

.machete-kwbid .machete-small-input {
    margin-left: 4px;
    margin-right: 4px;
    width: 70px;
    height: 22px;
    padding: 3px 7px;
    line-height: normal;
}

#machete-bulk-all {
    margin-left: 8px;
}

.machete-outer {
    width: 900px;
    margin: auto;
}

.machete-welcome {
    text-align: center;
    font-size: 18pt;
}

.machete-wrapper {
    border-width: 0px 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    padding: 40px;
    font-size: 12pt;
}

.machete-wrapper::before {
    content: url(/images/machete-128.png);
    margin: auto;
    display: block;
    text-align: center;
}

.machete-screenshot {
    display: block;
    margin: auto;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    box-shadow: 4px 4px 5px rgb(166, 166, 166);
}

.machete-wrapper h2 {
    font-size: 21px;
    color: rgb(196, 85, 0);
}

.machete-features li {
    margin-top: 25px;
}

.machete-metrics-table th {
    font-weight: bold;
    text-align: center;
}

.machete-metrics-table tr {
    height: 28px;
}

.machete-metrics-table tr td:first-child {
    text-align: left;
    width: 190px;
}

.machete-metrics-table td {
    border-right: 1px solid rgb(228, 228, 228);
}

.machete-metrics-table {
    text-align: center;
}

.machete-date-input-small {
    height: 22px !important;
    width: 140px !important;
}

#machete-campaign-history-download-container {
    text-align: right;
    margin-bottom: 12px;
}

.machete-explanation {
    border: 1px solid rgb(166, 166, 166);
    padding: 8px;
    border-radius: 4px;
    margin-top: 12px;
}

#machete-explanation-title {
    margin-top: 4px !important;
}

.machete-explanation p {
    display: inline-block;
    border-right: 1px solid rgb(166, 166, 166);
    margin: 4px;
    padding: 2px 8px 2px 0px;
}

.machete-loading-notice {
    float: right;
    margin: 6px;
    padding: 10px;
}

.machete-granularity-select-wrapper {
    float: right;
    clear: right;
}

.machete-granularity-select-wrapper > * {
    vertical-align: middle;
    display: inline-block;
}

.machete-granularity-select {
    width: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#machete-totals td {
    font-weight: bold;
}

.machete-ghost {
    font-weight: normal;
    color: #b1aaaa;
    margin-right: 2px;
}

.machete-optimize-choice button {
    padding: 2px 4px;
    margin: 2px 4px;
    height: 2em;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border: 1px solid rgb(166, 166, 166);
}

.machete-optimize-choice button:disabled {
    background: linear-gradient(to bottom, rgb(231,233,236), rgb(141, 144, 150));
}

.a-box-inner section {
    margin-top: 20px;
    margin-bottom: 10px;
}
