a.machete-dashboard-link, a.machete-dashboard-link:link {
    text-decoration: none;
}

.machete-dashboard-link span {
    color: rgb(196, 85, 0);
    text-decoration: underline;
}

.machete-dashboard-link img {
    vertical-align: baseline;
}

.machete-dashboard-link.dashboard-small img {
    height: 10px;
    width: 10px;
}

.machete-dashboard-link.dashboard-headline img {
    height: 24px;
    width: 24px;
}
