.machete-popup {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 320px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(166, 166, 166);
}

.machete-login-required, .machete-upgrade-required {
    font-size: 14pt;
    text-align: center;
    padding: 20px;
}

.machete-chart-btn {
	display: inline-block;
	text-align: right;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    padding: 1px;
}

.machete-chart-btn-disabled {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.machete-3col, .machete-2col {
    width: 100%;
}

.machete-3col > * {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    margin: auto;
    padding: 20px;
    vertical-align: top;
}

.machete-2col > * {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    margin: auto;
    padding: 20px;
    vertical-align: top;
}

.machete-report section {
    margin-bottom: 50px;
}

.machete-report h3 {
    margin-top: 30px;
}

.machete-chart-horizontal {
    display: inline-block;
}

#machete-kwmodify {
    display: none;
}

.machete-kwmodify {
    text-align: right;
}

.machete-kwmodify > div {
    display: inline-block;
}

.machete-templates {
    display: none;
}

.machete-kwbid {
    width: 124px;
    margin-left: 2px;
    margin-right: 2px;
}

.machete-kwbid input {
    width: 60px;
    margin: 2px 4px;
}

.machete-kwstatus {
    width: 64px;
    margin-left: 2px;
    margin-right: 2px;
}

.machete-kwbid, .machete-kwstatus {
    display: inline-block;
}

.machete-kwbid .loading-small, .machete-kwstatus .loading-small {
    margin: auto;
}

.machete-kwupdate-bulk {
    display: block;
    float: right;
    margin-bottom: 6px;
}

#machete-bulk-all {
    display: block;
    float: right;
    position: relative;
    top: 6px;
}

.machete-kwupdate-error {
    color: red;
    font-size: 11pt;
}

.machete-warning {
    border: 1px solid #f0c14b;
    box-shadow: 1px 1px 2px rgb(166, 166, 166);
    border-radius: 2px;
    padding: 4px 8px;
    width: 75%;
    margin: 10px;
}

.machete-error {
    border: 1px solid red;
    box-shadow: 1px 1px 2px rgb(166, 166, 166);
    border-radius: 2px;
    padding: 4px 8px;
    width: 75%;
    margin: 10px;
}


.machete-kwbulk-label {
    font-weight: bold;
}

.machete-kwstatus-bulk, .machete-kwbid-bulk {
    display: inline-block;
}

.machete-kwbid .machete-small-input {
    margin-left: 4px;
    margin-right: 4px;
    width: 70px;
    height: 22px;
    padding: 3px 7px;
    line-height: normal;
}

#machete-bulk-all {
    margin-left: 8px;
}

.machete-outer {
    width: 900px;
    margin: auto;
}

.machete-welcome {
    text-align: center;
    font-size: 18pt;
}

.machete-wrapper {
    border-width: 0px 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    padding: 40px;
    font-size: 12pt;
}

.machete-wrapper::before {
    content: url(/images/machete-128.png);
    margin: auto;
    display: block;
    text-align: center;
}

.machete-screenshot {
    display: block;
    margin: auto;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    box-shadow: 4px 4px 5px rgb(166, 166, 166);
}

.machete-wrapper h2 {
    font-size: 21px;
    color: rgb(196, 85, 0);
}

.machete-features li {
    margin-top: 25px;
}

.machete-metrics-table th {
    font-weight: bold;
    text-align: center;
}

.machete-metrics-table tr {
    height: 28px;
}

.machete-metrics-table tr td:first-child {
    text-align: left;
    width: 190px;
}

.machete-metrics-table td {
    border-right: 1px solid rgb(228, 228, 228);
}

.machete-metrics-table {
    text-align: center;
}

.machete-date-input-small {
    height: 22px !important;
    width: 140px !important;
}

#machete-campaign-history-download-container {
    text-align: right;
    margin-bottom: 12px;
}

.machete-explanation {
    border: 1px solid rgb(166, 166, 166);
    padding: 8px;
    border-radius: 4px;
    margin-top: 12px;
}

#machete-explanation-title {
    margin-top: 4px !important;
}

.machete-explanation p {
    display: inline-block;
    border-right: 1px solid rgb(166, 166, 166);
    margin: 4px;
    padding: 2px 8px 2px 0px;
}

.machete-loading-notice {
    float: right;
    margin: 6px;
    padding: 10px;
}

.machete-granularity-select-wrapper {
    float: right;
    clear: right;
}

.machete-granularity-select-wrapper > * {
    vertical-align: middle;
    display: inline-block;
}

.machete-granularity-select {
    width: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#machete-totals td {
    font-weight: bold;
}

.machete-ghost {
    font-weight: normal;
    color: #b1aaaa;
    margin-right: 2px;
}

.machete-button {
    padding: 2px 4px;
    margin: 2px 4px;
    height: 2em;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.machete-optimize-choice button, .machete-highlight-button {
    padding: 2px 4px;
    margin: 2px 4px;
    height: 2em;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.machete-optimize-choice button:disabled {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.a-box-inner section {
    margin-top: 20px;
    margin-bottom: 10px;
}

.machete-radio-group-wrapper .machete-radio-group-label {
    font-weight: bold;
}

.machete-radio-horizontal {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.machete-radio-horizontal input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.machete-radio-horizontal label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    font-weight: normal;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.machete-radio-horizontal input[type=radio]:checked + label{
    font-weight: bold;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.machete-radio-horizontal label + input[type=radio] + label {
    border-left: solid 1px #a2a6ac;
}

.machete-campaign-history-controlbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.machete-campaign-history-controlbar > * {
    box-sizing: border-box;
    margin: 0;
}

.machete-campaign-select .Select-value {
    border-color: #adb1b8 #a2a6ac #8d9096 !important;
    color: rgba(0, 0, 0, 0.74) !important;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.machete-campaign-select .Select-value-icon:hover {
    background: rgba(0, 0, 0, 0.1) !important;
    color: black !important;
}

.machete-campaign-select .Select-option.is-focused {
    background-color: #f7dfa5;
}

.Collapsible__trigger {
    display: block;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    font-size: 18px;
    padding: 10px;
    margin: 6px 0px;
    border-bottom: 1px solid #8d9096;
}

.Collapsible__trigger.is-closed:before {
    content: '\25BC';
    font-size: 14px;
    margin-right: 8px;
}

.Collapsible__trigger.is-open:before {
    content: '\25B2';
    font-size: 14px;
    margin-right: 8px;
}

.Collapsible__trigger.is-disabled {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.machete-checkbox {
    margin-right: 4px;
}
