.machete-chart, .machete-chart-login-required, .machete-chart-upgrade-required {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 320px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(166, 166, 166);
}

.machete-chart-login-required, .machete-campaign-login-required,
.machete-chart-upgrade-required, .machete-campaign-login-required {
    font-size: 14pt;
    text-align: center;
    padding: 20px;
}

.machete-chart-btn {
	display: inline-block;
	text-align: right;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    padding: 1px;
}

.machete-chart-btn-disabled {
    background: linear-gradient(to bottom, rgb(231,233,236), rgb(141, 144, 150));
}

#machete-keyword-analysis h1 {
    margin-top: 50px;
}

#machete-keyword-analysis h3 {
    margin-top: 30px;
}

.machete-chart-horizontal {
    display: inline-block;
}

#machete-kwmodify {
    display: none;
}

.machete-kwmodify {
    text-align: right;
}

.machete-kwmodify > div {
    display: inline-block;
}

.machete-templates {
    display: none;
}

.machete-kwupdate-bulk {
    display: block;
    float: right;
    position: relative;
    top: -25px;
    border: 1px solid rgb(166, 166, 166);
    padding: 8px;
    border-radius: 4px;
}

.machete-kwupdate-error {
    color: red;
    font-size: 11pt;
}

.machete-kwbulk-label {
    font-weight: bold;
}

.machete-kwstatus-bulk, .machete-kwbid-bulk {
    display: inline-block;
}

#machete-bulk-all {
    margin-left: 8px;
}

.machete-outer {
    width: 900px;
    margin: auto;
}

.machete-welcome {
    text-align: center;
    font-size: 18pt;
}

.machete-wrapper {
    border-width: 0px 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    padding: 40px;
    font-size: 12pt;
}

.machete-wrapper::before {
    content: url(/images/machete-128.png);
    margin: auto;
    display: block;
    text-align: center;
}

.machete-screenshot {
    display: block;
    margin: auto;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    box-shadow: 4px 4px 5px rgb(166, 166, 166);
}

.machete-wrapper h2 {
    font-size: 21px;
    color: rgb(196, 85, 0);
}

