#ams-unlocked-chart {
    margin-top: 60px;
    display: none;
}

.ams-unlocked-chart-btn {
	display: block;
	text-align: right;
}

#ams-unlocked-keyword-analysis h1 {
    margin-top: 50px;
}

#ams-unlocked-keyword-analysis h3 {
    margin-top: 30px;
}

.ams-unlocked-chart-horizontal {
    display: inline-block;
}
