#ams-unlocked-chart {
    margin-top: 60px;
    display: none;
}

.ams-unlocked-chart-btn {
	display: inline-block;
	text-align: right;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    padding: 1px;
}

#ams-unlocked-keyword-analysis h1 {
    margin-top: 50px;
}

#ams-unlocked-keyword-analysis h3 {
    margin-top: 30px;
}

.ams-unlocked-chart-horizontal {
    display: inline-block;
}

#ams-unlocked-kwmodify {
    display: none;
}

.ams-unlocked-kwmodify {
    text-align: right;
}

.ams-unlocked-kwmodify > div {
    display: inline-block;
}

.ams-unlocked-templates {
    display: none;
}

.ams-unlocked-kwupdate-bulk {
    display: block;
    float: right;
    position: relative;
    top: -25px;
    border: 1px solid rgb(166, 166, 166);
    padding: 8px;
    border-radius: 4px;
}

.ams-unlocked-kwbulk-label {
    font-weight: bold;
}

.ams-unlocked-kwstatus-bulk, .ams-unlocked-kwbid-bulk {
    display: inline-block;
}
